:root {
    --color-blue: #5B99C2;
    --color-red: #982B1C;
    --color-yellow: #F6E96B;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #cc7272;
    /* background-color: #c88b8b; */
}

header {
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    text-decoration: none;
    color: rgb(10, 10, 10);
    letter-spacing: 0.1rem;
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #000000;
    /* text-decoration: none; */
}

nav ul li a:hover {
    color:#ffffff;
}

section {
    padding: 20px;
    background: #ffffff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

h2 {
    color: #35424a;
}

h3 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    background: #35424a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background: #2a2f35;
}

.container div {
    display: flex;
    align-items: center;
    background-color: #f80d0d;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 50px;
}

.container p {
    text-align: center;
}

.tes {
    background-image: url(/indonesia/gambar/Resep-Nasgor-Gila.jpg);
    background-size: cover;
    background-position: center center;

}

.tes2 {
    background-color: #a05209;
    background-image: url(/indonesia/gambar/Rendang.jpg);
    background-size: cover;
    background-position: center -24px;
}

.tes3 {
    background-color: #a05209;
    background-image: url(/indonesia/gambar/Resep-Ayam-Rica-rica.jpg);
    background-size: cover;
    background-position: center -30px;
}

.tes4 {
    background-image: url(/indonesia/gambar/nasi-padang.jpg);
    background-size: cover;
    background-position: center center;
}