:root {
    --color-blue: #5B99C2;
    --color-red: #982B1C;
    --color-yellow: #F6E96B;
}

body {
    font-family: Arial, sans-serif;
    line-height: 2;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    max-width: fit-content;
}

/* .navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
} */

.logo{
    color: #D8BFD8;
    font-size: 35px;
    font-family: 'Times New Roman';
    padding-left: 15px;
    position: absolute;
    padding-top: 0px;
    margin-top: 5px;
}

header {
    background: #525081;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    text-decoration: none;
    color: white;
    letter-spacing: 0.1rem;
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #35424a;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--color-red);
}
/* nav style */


img {
    position: absolute;
    width: 200px;
    height: 300px;
    right: 140px;
    top: 240px;
}
img styling

.popular-recipes {
    background-color: #fff;
    text-align: center;
}

.popular-recipes .container h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color:#000000;
}


.recipes-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.recipe-item {
    background-color: #9E7BB5;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.recipe-item h3 {
    font-size: 20px;
    margin: 0;
}

.recipe-item h3 a{
    color:#fff;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 4px;
    background: #525081;
    margin-bottom: 100px;
    color: #ffffff;
    position: relative;
    top: 100px;
    bottom: 0;
    width: 100%;
}

/* h2 {
    color: #35424a;
}

h3 {
    color: #333;
} */

/* img{
    max-width: 20%;
    max-height: 20%;
    right: 30px;
} */
/* button {
    background: #35424a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background: #2a2f35;
} */

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color:brown;
    position: relative;
    
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    line-height: 3.7rem;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color:#000000;
    transition: .3s ease;
}

.content span{
    color:#ff7200;
    font-size: 65px;
}

.content2 button{
    background: #524F81;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
    letter-spacing: 1px;
}

.content2 button a{
    color: white;
    text-decoration: none;
}

/* .content2 button:hover{
    background: #524F81;
} */

.content2 .par2{
    padding-left: 20px;
    font-family: Arial;
    letter-spacing: 1px;
    line-height: 30px;
}